<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pages.streamSettings.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>

    <th:block th:include="fragments/topMenu :: topMenuHeader"/>

    <script th:src="@{/js/multistream/multistream.js}"></script>
    <script th:src="@{/js/requestUtil.js}"></script>

    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<div class="wrapBody">
    <!--/*@thymesVar id="multiStream" type="ru.sovaowltv.model.multistream.MultiStream"*/-->
    <div class="block">
        <div th:if="${multiStream != null}">
            <a href="#" th:text="#{pages.streamSettings.yourMS}" th:href="'/ms/'+${multiStream.getId()}"></a>
        </div>

        <div th:if="${multiStream != null}">
            <div>COPY THIS FOR INVITE!</div>
            <div th:text="'https://sovaowl.ru/ms/join/' + ${multiStream.getId()} + '/' + ${multiStream.getInviteCode()}"></div>
        </div>

        <div th:if="${multiStream == null}">
            <a href="#" th:text="#{pages.streamSettings.createMS}" onclick="createMultiStream()"></a>
        </div>

        <div th:if="${multiStream != null}">
            <a href="#" th:text="#{pages.streamSettings.deleteMS}" onclick="deleteMultiStream()"></a>
        </div>
    </div>
</div>
</body>
</html>