<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>
    <!--    <title th:text="${stream.getUser().getNickname()}"></title>-->

    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <link rel="stylesheet" th:href="@{/css/streamPage.css}">

    <script th:src="@{/js/streamPage.js}"></script>

    <script th:src="@{/js/lib/OverlayScrollbars.js}"></script>
    <link rel="stylesheet" th:href="@{/css/lib/OverlayScrollbars.css}">

    <th:block th:include="fragments/topMenu :: topMenuHeader"/>

    <th:block th:include="fragments/chat :: chatHead"/>

    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<!--/*@thymesVar id="streams" type="java.util.Set<ru.sovaowltv.model.stream.Stream>"*/-->
<!--/*@thymesVar id="stream" type="ru.sovaowltv.model.stream.Stream"*/-->
<div id="body">
    <div id="bodyPlayer">
        <div id="bodyPlayerTop">
            <div id="bodyPlayerTopLeft"></div>
            <div id="playerSelector">
                <th:block th:each="stream: ${streams}">
                    <div th:text="${stream.getUser().getNickname()}"></div>
                    <th:block th:include="/stream/playerSelects::streamPlayersSelector"/>
                </th:block>
            </div>
            <div id="bodyPlayerTopRight"></div>
        </div>
        <div id="bodyPlayerMiddle">
            <th:block th:each="stream: ${streams}" th:include="/stream/iframes::streamPlayers"/>
            <div id="playerSelectorSecond">
                <th:block th:each="stream: ${streams}">
                    <div th:text="${stream.getUser().getNickname()}"></div>
                    <th:block th:include="/stream/playerSelects::streamPlayersSelector"/>
                </th:block>
            </div>
        </div>
        <div id="bodyPlayerBottom"></div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let streamsLogins = [[${streamsLogins}]];
        let msId = [[${msId}]];
        /*]]>*/
    </script>
    <div id="bodyChat">
        <th:block th:include="fragments/chat::chatBody"/>
    </div>
</div>
</body>
</html>