<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="spammers">
    <div class="content" style="display: none">
        <div class="streamOptions">
            <div class="blockHeader" th:text="#{pages.streamSettings.set.spammerTitle}"></div>
            <th:block th:each="spammers:${stream.getSpammerSet()}">
                <div class="block inline">
                    <div>
                        <div class="blockHeader" th:text="#{pages.streamSettings.set.spammerTitle.text}"></div>
                        <div class="block">
                            <input class="input show" th:value="${spammers.getText()}">
                            <img src="/img/success.png"
                                 th:onclick="'changeSpammerText(this, '+${spammers.getId()}+');'">
                        </div>
                    </div>

                    <div>
                        <div class="blockHeader" th:text="#{pages.streamSettings.set.spammerTitle.time}"></div>
                        <div class="block">
                            <input class="input show" th:value="${spammers.getTime()}">
                            <img src="/img/success.png"
                                 th:onclick="'changeSpammerTime(this, '+${spammers.getId()}+');'">
                        </div>
                    </div>

                    <div>
                        <div class="blockHeader" th:text="#{pages.streamSettings.set.spammerTitle.delayTime}"></div>
                        <div class="block">
                            <input class="input show" th:value="${spammers.getDelay()}">
                            <img src="/img/success.png"
                                 th:onclick="'changeSpammerDelay(this, '+${spammers.getId()}+');'">
                        </div>
                    </div>

                    <div class="wrapSpammerStopStart">
                        <div class="centered spammerStopStart"
                             th:if="${spammers.getSpammerStatus().toString()} == 'STOP'"
                             th:onclick="'startSpammer('+${spammers.getId()}+');'">
                            <img src="/img/play.png">
                            <div th:text="#{pages.streamSettings.set.spammer.start}"></div>
                        </div>
                        <div class="centered spammerStopStart"
                             th:if="${spammers.getSpammerStatus().toString()} == 'RUN'"
                             th:onclick="'stopSpammer('+${spammers.getId()}+');'">
                            <img src="/img/pause.png">
                            <div th:text="#{pages.streamSettings.set.spammer.stop}"></div>
                        </div>
                    </div>

                    <div class="wrapSpammerStopStart">
                        <div class="centered spammerStopStart" th:onclick="'deleteSpammer('+${spammers.getId()}+');'">
                            <img src="/img/garbage.png">
                            <div th:text="#{pages.streamSettings.set.spammer.delete}"></div>
                        </div>
                    </div>
                </div>
                <hr style="height: 25px; border: none;">
            </th:block>

            <div class="modalRight" style="margin: auto;" onclick="createSpammer()"
                 th:text="#{pages.streamSettings.set.spammer.create}"></div>
            <th:block th:include="fragments/keyCodeDescription::keyCodeDescBody"/>
        </div>
    </div>
</th:block>
</html>