<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pages.streamSettings.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>

    <th:block th:include="fragments/topMenu :: topMenuHeader"/>
    <th:block th:include="fragments/linkAccounts :: linkHeader"/>

    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <link rel="stylesheet" th:href="@{/css/slider.css}">
    <link rel="stylesheet" th:href="@{/css/streamSettings.css}">
    <script th:src="@{/js/streamSettings.js}"></script>
    <script th:src="@{/js/commandsSettings.js}"></script>

    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
    <meta th:name="secTokenState" th:content="${secTokenState}">
    <meta th:name="streamName" th:content="${stream.getUser().getNickname()}">
</head>
<body>
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<div class="wrapBody">
    <div class="block ">
        <a th:href="'/'+${stream.getUser().getNickname()}" th:text="#{pages.streamSettings.openStream}"></a>
        <a href="#" th:text="#{pages.streamSettings.deleteStream}" onclick="doDeleteStream()"></a>
    </div>

    <div class="row">
        <a href="#" onclick="show(1)" style="border-bottom: 3px solid white">
            <div th:utext=" '' + #{pages.streamSettings.row.platforms}"></div>
        </a>
        <a href="#" onclick="show(2)">
            <div th:utext=" '' + #{pages.streamSettings.row.streamSettings}"></div>
        </a>
        <a href="#" onclick="show(3)">
            <div th:utext=" '' + #{pages.streamSettings.row.notifications}"></div>
        </a>
        <a href="#" onclick="show(4)">
            <div th:utext="'' + #{pages.streamSettings.row.spammers}"></div>
        </a>
        <a href="#" onclick="show(5)">
            <div th:utext="'' + #{pages.streamSettings.row.commands}"></div>
        </a>
        <a href="#" onclick="show(6)">
            <div th:utext="'' + #{pages.streamSettings.row.donations}"></div>
        </a>
    </div>

    <th:block th:include="stream/settings/linkAccounts :: linkAccounts"/>
    <th:block th:include="stream/settings/websiteStreamSettings :: websiteStreamSettings"/>
    <th:block th:include="stream/settings/notifications/notifications :: notifications"/>
    <th:block th:include="stream/settings/spammers :: spammers"/>
    <th:block th:include="stream/settings/commands :: commands"/>
    <th:block th:include="stream/settings/donations :: donations"/>


    <div sec:authorize="hasRole('ADMIN')">
        <div onclick="launchAllChats()">launchAllChats</div>
        <hr>
        <div onclick="launchMyTwitchChat()">launchMyTwitchChat</div>
        <hr>
        <div onclick="addTwitchChat()">addTwitchChat</div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const disconnectMessage = [[#{pages.chat.message.js.disconnectMessage}]];
    const connectMessage = [[#{pages.chat.message.js.connectMessage}]];

    const discordClientId = [[${@environment.getProperty('discord_ClientId')}]];
    const twitchClientId = [[${@environment.getProperty('twitch_clientId')}]];
    /*]]>*/
</script>
</body>
</html>