<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="nick" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.error.streamNotFound.title} + ' ' + ${nick}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>

    <script src="/webjars/overlayscrollbars/js/OverlayScrollbars.min.js"></script>
    <link href="/webjars/overlayscrollbars/css/OverlayScrollbars.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/error/style.css}">

    <th:block th:include="fragments/topMenu :: topMenuHeader"/>

    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<div id="body">
    <div class="errorPageBlock">
        <div class="errorPageText" th:text="${nick}"></div>
        <div class="errorPageText" th:text="#{page.error.streamNotFound.title}"></div>
        <img alt="owl" class="errorPageBlock" src="/404/owl.jpg">
    </div>
</div>
</body>
</html>