<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.error.userNotFound.title} + ' ' + ${nick}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>

    <link rel="stylesheet" th:href="@{/css/streamPage.css}">

    <script src="/webjars/overlayscrollbars/js/OverlayScrollbars.min.js"></script>
    <link href="/webjars/overlayscrollbars/css/OverlayScrollbars.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/error/style.css}">
    <th:block th:include="fragments/topMenu :: topMenuHeader"/>
    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<div id="body">
    <div class="errorPageBlock">
        <div class="errorPageText" th:text="${nick}!= null?${nick}:''"></div>
        <div class="errorPageText" th:text="#{page.error.userNotFound.title}"></div>
        <img class="errorPageBlock" src="/404/owl.jpg">
    </div>
</div>
</body>
</html>