<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="stream" type="ru.sovaowltv.model.stream.Stream"*/-->
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>
    <title th:text="${stream.getUser().getNickname()}"></title>

    <link rel="stylesheet" th:href="@{/css/streamPage.css}">

    <script th:src="@{/js/streamPage.js}"></script>

    <script src="/webjars/overlayscrollbars/js/OverlayScrollbars.min.js"></script>
    <link href="/webjars/overlayscrollbars/css/OverlayScrollbars.min.css" rel="stylesheet">

    <th:block th:include="fragments/topMenu :: topMenuHeader"/>
    <th:block th:include="fragments/chat :: chatHead"/>
    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<!--/*@thymesVar id="stream" type="ru.sovaowltv.model.stream.Stream"*/-->
<!--/*@thymesVar id="multiStream" type="ru.sovaowltv.model.multistream.MultiStream"*/-->
<th:block th:include="fragments/topMenu::landingTopMenu"/>
<div id="body">
    <div id="bodyPlayer">
        <div id="bodyPlayerTop">
            <div id="bodyPlayerTopLeft">
                <div th:text="#{pages.stream.notifyThemAll}" onclick="notifyThemAll()"
                     th:if="${stream.getUser()} == ${user}"></div>
                <div th:text="${stream.isLive()}?__#{pages.stream.status.online}__:__#{pages.stream.status.offline}__"
                     th:if="${stream.getUser()} == ${user}"
                     th:onclick="'changeStreamStatus(' + ${!stream.isLive()} + ', this)'"></div>
                <div style="background-color: #222222" th:unless="${stream.getUser()} == ${user}"></div>
            </div>
            <div id="playerSelector">
                <th:block th:include="stream/playerSelects::streamPlayersSelector"/>
            </div>
            <div id="bodyPlayerTopRight">
                <div th:if="${multiStream != null}" th:onclick="'window.location=\'ms/'  +${multiStream.getId()} + '\''"
                     th:text="#{pages.stream.status.ms}"></div>
                <div th:text="#{pages.stream.follow}"></div>
                <div th:text="#{pages.stream.sub}"></div>
            </div>
        </div>
        <div id="bodyPlayerMiddle">
            <th:block th:include="stream/iframes::streamPlayers"/>
            <div id="playerSelectorSecond">
                <th:block th:include="stream/playerSelects::streamPlayersSelector"/>
            </div>
        </div>
        <div id="bodyPlayerBottom">
            <div id="bodyPlayerBottomLeft">
                <div id="bodyPlayerBottomLeftAvatar"
                     th:utext="'<img src=\'/avatars/' + ${stream.getUser().getUserAvatar()} + '\'>'"></div>
                <div id="bodyPlayerBottomLeftDescription">
                    <div id="bodyPlayerBottomLeftStream" th:text="${stream.getStreamName()}"></div>
                    <div id="bodyPlayerBottomLeftNick"
                         th:text="${stream.getUser().getNickname()} + ' - ' + ${stream.getGame()}"></div>
                </div>
            </div>
            <div id="bodyPlayerBottomRight">
                <div><img alt="film" src="/img/film.png"/></div>
                <div th:if="${user != null} and ${stream.getUser().getNickname()}==${user.getNickname()}"
                     onclick="openOptions()">
                    <img alt="settings" src="/img/gear.png"/>
                </div>
            </div>
        </div>
        <div id="footer_wrap" style="background-color: #36db29" th:text="${stream.getStreamDescription()}"></div>
    </div>
    <div id="bodyChat">
        <th:block th:include="fragments/chat::chatBody"/>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const statusOnline = [[#{pages.stream.status.online}]];
    const statusOffline = [[#{pages.stream.status.offline}]];
    /*]]>*/
</script>
</body>
</html>