<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{email.verification.titleSuccess}"></title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <th:block th:include="fragments/flags :: flagsHeader"/>
</head>
<body>
<div id="wrap">
    <div id="regForm">
        <div class="formTitle" th:text="#{email.verification.titleSuccess}"></div>
        <div th:replace="fragments/flags :: flagsBody"></div>
        <div class="formHelp" th:text="#{email.verification.textSuccess}"></div>
        <div class="button" th:onclick="'window.location.href = \'/\''" th:text="#{email.verification.buttonSuccess}"></div>
        <div class="buttonHelper"></div>
    </div>
</div>
</body>
</html>