<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{inputNewPassword.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <script th:src="@{/js/inputNewPassword.js}"></script>
    <th:block th:include="fragments/flags :: flagsHeader"/>

    <!--/*@thymesVar id="secTokenState" type="java.lang.String"*/-->
    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
    <meta th:name="passToken" th:content="${passToken}">
</head>
<body>
<div id="wrap">
    <div id="regForm">
        <div class="formTitle" th:text="#{inputNewPassword.title}"></div>
        <div th:replace="fragments/flags :: flagsBody"></div>

        <div class="formHelp" th:text="#{inputNewPassword.password}"></div>
        <input type="password" id="pass1">

        <div class="formHelp" th:text="#{inputNewPassword.repeatPassword}"></div>
        <input type="password" id="pass2">

        <p class="err" id="reg_failed_login1" th:text="#{inputNewPassword.differentPassword}"></p>
        <p class="err" id="reg_failed_login2" th:text="#{inputNewPassword.wrongPassword}"></p>
        <p class="success" id="success" th:text="#{inputNewPassword.success}"></p>

        <div class="button" onclick="inputNewPassword()" th:text="#{inputNewPassword.button}"></div>
        <div class="button" style="display: none" onclick="window.location='/login'"
             th:text="#{inputNewPassword.returnMainPage}"></div>
        <div class="buttonHelper"></div>
    </div>
</div>
</body>
</html>