<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{recoveryForm.pageName}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <script th:src="@{/js/recoverypassword.js}"></script>
    <th:block th:include="fragments/flags :: flagsHeader"/>
    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<div id="wrap">
    <div id="regForm">
        <div class="formTitle" th:text="#{recoveryForm.formname}"></div>
        <div th:replace="fragments/flags :: flagsBody"></div>
        <div class="formHelp" th:text="#{regForm.label.email}">Email:</div>
        <input type="email" th:placeholder="#{regForm.placeholder.email}" placeholder="Email">
        <p class="success" id="email_send_success" th:text="#{recoveryForm.success}"></p>
        <p class="err" id="email_send_wrong" th:text="#{recoveryForm.err}"></p>
        <div class="button" id="buttonRecovery" onclick="doRecovery()" th:text="#{recoveryForm.button.recover}"></div>
        <div class="button" style="display: none" onclick="window.location='/'" th:text="#{recoveryForm.button.returnToMainPage}"></div>
        <div class="buttonHelper">
            <div onclick="window.location.replace('/login?login') " id="toLogin"
                 th:text="#{regForm.changeToLogin}"></div>
        </div>
    </div>
</div>
</body>
</html>