<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{recoveryForm.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/ico/icon.png}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/dropStyle.css}">
    <script th:src="@{/js/recoveryPasswordHands.js}"></script>
    <th:block th:include="fragments/flags :: flagsHeader"/>
    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
</head>
<body>
<div id="wrap">
    <div id="regForm">
        <div class="formTitle" th:text="#{email.verification.title}"></div>
        <div th:replace="fragments/flags :: flagsBody"></div>

        <div class="formHelp" th:text="#{recoveryForm.email}" th:placeholder="#{recoveryForm.placeholder.email}"></div>
        <input type="email">

        <div class="formHelp" th:text="#{recoveryForm.code}" th:placeholder="#{recoveryForm.placeholder.code}"></div>
        <input type="text">

        <div class="button" onclick="doRecovery()" th:text="#{recoveryForm.button}"></div>
        <div class="buttonHelper"></div>
    </div>
</div>
</body>
</html>